
# dependencies
node_modules/

# app keys
 config/


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
npm-debug.log
testem.log
/typings